<!doctype html>
{% load static %}

<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Architect and Interior Designer in Lucknow | Best Architect in Lucknow | Imaarat Design | Home Page</title>
    <meta name="author" content="Imaarat Design">
    <meta name="description" content="Imaarat Design, Best architects in Lucknow, Interior Designer in Lucknow">
    <meta name="keywords" content="Imaarat Design, Best architects in Lucknow, Interior Designer in Lucknow">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static '' %}assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '' %}assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '' %}assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '' %}assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '' %}assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '' %}assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '' %}assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '' %}assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '' %}assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static '' %}assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '' %}assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static '' %}assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '' %}assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="{% static '' %}assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static '' %}assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--============================== Google Fonts ============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <!--============================== All CSS File ============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static '' %}assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="{% static '' %}assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static '' %}assets/css/magnific-popup.min.css">
    <!-- Swiper css -->
    <link rel="stylesheet" href="{% static '' %}assets/css/swiper-bundle.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static '' %}assets/css/style.css">
</head>

<body>
    {% include "includes/header.html" %}
    <!-- offcanvas area start -->
    
    
    <!-- offcanvas area end -->      
    <div class="body-overlay"></div>
    <!-- offcanvas area end -->
    
    {% block slider %}{% endblock slider %}
    
    {% block body %}{% endblock body %}
    
    
    {% include "includes/footer.html" %}
    

    <!--============================== All Js File ============================== -->
    <!-- Jquery -->
    <script src="{% static '' %}assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Swiper Js -->
    <script src="{% static '' %}assets/js/swiper-bundle.min.js"></script>
    <!-- Bootstrap -->
    <script src="{% static '' %}assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="{% static '' %}assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up -->
    <script src="{% static '' %}assets/js/jquery.counterup.min.js"></script>
    <!-- Range Slider -->
    <script src="{% static '' %}assets/js/jquery-ui.min.js"></script>
    <!-- imagesloaded -->
    <script src="{% static '' %}assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="{% static '' %}assets/js/isotope.pkgd.min.js"></script>
    <!-- gsap -->
    <script src="{% static '' %}assets/js/gsap.min.js"></script>
    <!-- ScrollTrigger -->
    <script src="{% static '' %}assets/js/ScrollTrigger.min.js"></script>
    <!-- circle-progress -->
    <script src="{% static '' %}assets/js/circle-progress.js"></script>
    <!-- nice select -->
    <script src="{% static '' %}assets/js/nice-select.min.js"></script>
    <!-- smooth-scroll -->
    <script src="{% static '' %}assets/js/smooth-scroll.js"></script>
    <!-- Main Js File -->
    <script src="{% static '' %}assets/js/main.js"></script>

</body>
</html>