{% extends "base.html" %}
{% load static %}

<br>


{% block body %}
<!--============================== Breadcumb ============================== -->
<div class="breadcumb-wrapper " data-bg-src="{{service.image.url}}" style="height: 600px;">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">{{service.title}}</h1>
            <ul class="breadcumb-menu">
                <li><a href="/">Home</a></li>
                <li>Project</li>
            </ul>
        </div>
    </div>
</div>

<!--============================== Project Area ==============================-->

 <!--============================== Photo Area ==============================-->
 <section class="space">
    <div class="container">
        <div class="title-area text-center mb-40">
            <span class="sub-title">Photo</span>
            <h2 class="sec-title">Let’s See Our Latest Photo</h2>
        </div>
        
        <div class="row gallery-row filter-active">
            <!-- Single Item -->
            {% for i in service.images_set.all %}
            <div class="col-md-6 col-xl-auto filter-item cat1">
                <div class="project-box">
                    <div class="project-box-img">
                        <img src="{{i.image.url}}" style="width:385px;height:385px;" alt="project image">
                    </div>
                    <div class="project-box-content">
                        <p class="project-subtitle">Deepak</p>
                        <h3 class="box-title"><a>Complex</a></h3>
                        <a href="{{i.image.url}}" class="gallery-btn popup-image"><i class="fa-regular fa-plus"></i></a>
                    </div>
                </div>
            </div>    
            {% endfor %}         
        </div>           
    </div>
    <div class="container">
        <div class="project-details">
            <div class="page-img">
                
            </div>
            <ul class="project-details-wrap">
                
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="page-content style2 mb-40">
                    <h3 class="h3 page-title">Product Overview</h3>
                    <p class="sec-text mb-25" align="justify">{{service.description}}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="sidebar-area style2 pt-0">
                    <div class="widget widget_offer  " data-overlay="title" data-opacity="9" data-bg-src="{% static '' %}assets/img/bg/widget_bg_1.jpg">
                        <div class="offer-banner">
                            <div class="offer">
                                <span class="sub-title">Contact for inquery</span>
                                <h6 class="box-title">Need Help? We Are Here To Help You</h6>
                                <a href="{% url "contactus" %}" class="th-btn style1">Get A Quote</a>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <div class="page-content style2">
            {{service.detail |safe }}
        </div>
    </div>
</section>



{% endblock body %}
