{% extends "base.html" %}
{% load static %}

<br>


{% block body %}
<!--============================== Breadcumb ============================== -->
<div class="breadcumb-wrapper " data-bg-src="{% static '' %}assets/img/bg/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">About Company</h1>
            <ul class="breadcumb-menu">
                <li><a href="home-company.html">Home</a></li>
                <li>About</li>
            </ul>
        </div>
    </div>
</div>

<!--============================== About Area  ==============================-->
<div class="overflow-hidden overflow-hidden space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="img-box3">
                    <div class="img1">
                        <img src="{% static '' %}assets/img/about/1.png" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="title-area mb-20 pe-xl-5 me-xl-5">
                    <span class="sub-title style1">About Imaarat Company</span>
                    <h2 class="sec-title mb-20">Program construction consists of a sequence</h2>
                </div>
                <p class="sec-text mb-30" align="justify">IMAARAT is an excellent construction company with impact. We have the vision and experience in designing and building residential gated communities and providing investment opportunities. IMAARAT exhibits the most superior standards in terms of quality and yet remains affordable to the masses. With the passage of time Imaarat is giving new dimension to the real estate landscape, getting recognized, respected with trusted outcomes. <br><br>We are builders of general architecture and construction projects. Imaarat has more than 10 years of work experience. We have developed projects in Noida, Delhi, Gurugram, Lucknow, Garhwal, and Jharkhand. We provide services in construction, turnkey, architecture design including commercial & residential interior and landscaping.</p>
            </div>
        </div>
    </div>
</div>

<!--============================== Counter Area  ==============================-->
<div class="counter-area2">
    <div class="container">
        <div class="counter-area bg-theme" data-pos-for="#process-sec" data-sec-pos="bottom-half">
            <div class="row">
                <div class="col-sm-6 col-xl-3 counter-card-wrap style2">
                    <div class="counter-card style2">
                        <div class="media-body">
                            <h2 class="box-number text-white"><span class="counter-number">2</span>k<span class="text">+</span></h2>
                            <p class="box-text text-white">Project Completed</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 counter-card-wrap style2">
                    <div class="counter-card style2">
                        <div class="media-body">
                            <h2 class="box-number text-white"><span class="counter-number">1.5</span>k<span class="text">+</span></h2>
                            <p class="box-text text-white">Customer Satisfied</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 counter-card-wrap style2">
                    <div class="counter-card style2">
                        <div class="media-body">
                            <h2 class="box-number text-white"><span class="counter-number">15</span><span class="text">+</span></h2>
                            <p class="box-text text-white">Expert Team Members</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 counter-card-wrap style2">
                    <div class="counter-card style2">
                        <div class="media-body">
                            <h2 class="box-number text-white"><span class="counter-number">50</span><span class="text">+</span></h2>
                            <p class="box-text text-white">Awards Winner</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--==============================  Process Area  ==============================-->
<section class="process-sec overflow-hidden space" id="process-sec" data-bg-src="{% static '' %}assets/img/about/process_bg_1.jpg">
    <div class="container">
        <div class="title-area pe-xl-3 ps-xl-3 text-center">
            <span class="sub-title">Work Process</span>
            <h2 class="sec-title">How It Work</h2>
        </div>
        <div class="step-wrap style2">
            <div class="process-line"><img src="{% static '' %}assets/img/about/process-line.png" alt=""></div>
            <div class="row">
                <div class="col-md-6 col-lg-3 process-item-wrap">
                    <div class="process-item">
                        <div class="process-item_icon">
                            <img src="{% static '' %}assets/img/about/process_1_1.svg" alt="service image">
                        </div>
                        <div class="process-item_content">
                            <p class="box-number">STEP -01</p>
                            <h3 class="box-title">Project Research</h3>
                            <p class="process-item_text">In the initial phases, architects and designers play a crucia</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 process-item-wrap">
                    <div class="process-item">
                        <div class="process-item_icon">
                            <img src="{% static '' %}assets/img/about/process_1_2.svg" alt="service image">
                        </div>
                        <div class="process-item_content">
                            <p class="box-number">STEP -02</p>
                            <h3 class="box-title">Design Build</h3>
                            <p class="process-item_text">Vulnerable for web iterate process before meta services</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 process-item-wrap">
                    <div class="process-item">
                        <div class="process-item_icon">
                            <img src="{% static '' %}assets/img/about/process_1_3.svg" alt="service image">
                        </div>
                        <div class="process-item_content">
                            <p class="box-number">STEP -03</p>
                            <h3 class="box-title">Starting Work</h3>
                            <p class="process-item_text">Of setting for web iterate process before meta services</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 process-item-wrap">
                    <div class="process-item">
                        <div class="process-item_icon">
                            <img src="{% static '' %}assets/img/about/process_1_4.svg" alt="service image">
                        </div>
                        <div class="process-item_content">
                            <p class="box-number">STEP -04</p>
                            <h3 class="box-title">Finished Work</h3>
                            <p class="process-item_text">Getting on for web iterate process before meta services</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============================== Testimonial Area  ==============================-->
<section class="testimonial-area overflow-hidden space" id="testi-sec">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Testimonials</span>
            <h2 class="sec-title">What Our Clients Say?</h2>
        </div>
        <div class="slider-area testi-box-area">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-4">
                    <div class="swiper th-slider style2  testiSlider2 gallery-top" id="testiSlider2" data-slider-options='{"effect":"slide","loop":true,"autoplay":false,"slidesPerView":"1","thumbs":{"swiper":".testi-grid-thumb"}}'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testi-box">
                                    <div class="testi-box_wrapper">
                                        <div class="testi-box_profile">
                                            <div class="testi-box_info">
                                                <h3 class="box-title">Michel Carlos</h3>
                                                <span class="testi-box_desig">Manager</span>
                                                <div class="testi-box_review">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="testi-box-quote">
                                                <img src="{% static '' %}assets/img/about/testi-quote2.svg" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="testi-box_text"><span>“</span>The preconstruction phase involves site preparation acquiring necessary permits & establishing construction site and finishing work. Delays and changes are common in construction. <img src="{% static '' %}assets/img/about/like.svg" alt=""> <span>”</span></p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-box">
                                    <div class="testi-box_wrapper">
                                        <div class="testi-box_profile">
                                            <div class="testi-box_info">
                                                <h3 class="box-title">Angelina Rose</h3>
                                                <span class="testi-box_desig">Founder CEO</span>
                                                <div class="testi-box_review">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="testi-box-quote">
                                                <img src="{% static '' %}assets/img/about/testi-quote2.svg" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="testi-box_text"><span>“</span>Objectively visualize error-free technology for B2B alignment. Monotonectally harness an expanded array of models via effective collaboration in the success. <img src="{% static '' %}assets/img/about/like.svg" alt=""> <span>”</span></p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-box">
                                    <div class="testi-box_wrapper">
                                        <div class="testi-box_profile">
                                            <div class="testi-box_info">
                                                <h3 class="box-title">Alex Jordan</h3>
                                                <span class="testi-box_desig">Project Manager</span>
                                                <div class="testi-box_review">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="testi-box-quote">
                                                <img src="{% static '' %}assets/img/about/testi-quote2.svg" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="testi-box_text"><span>“</span>Completely drive innovative value whereas out-of-the-box paradigms. Interactively pursue stand-alone markets after global say that they results. <img src="{% static '' %}assets/img/about/like.svg" alt=""> <span>”</span></p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-box">
                                    <div class="testi-box_wrapper">
                                        <div class="testi-box_profile">
                                            <div class="testi-box_info">
                                                <h3 class="box-title">Michel Carlos</h3>
                                                <span class="testi-box_desig">Manager</span>
                                                <div class="testi-box_review">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="testi-box-quote">
                                                <img src="{% static '' %}assets/img/about/testi-quote2.svg" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="testi-box_text"><span>“</span>Lectus volpat faucibus placerat eget nulla sodales aliquam molestie ante, himenaeos fames suscipit arcu cras cenas penatibus vivamus, aenean primis enim <img src="{% static '' %}assets/img/icon/like.svg" alt=""> <span>”</span></p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-box">
                                    <div class="testi-box_wrapper">
                                        <div class="testi-box_profile">
                                            <div class="testi-box_info">
                                                <h3 class="box-title">Angelina Rose</h3>
                                                <span class="testi-box_desig">Founder CEO</span>
                                                <div class="testi-box_review">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="testi-box-quote">
                                                <img src="{% static '' %}assets/img/about/testi-quote2.svg" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="testi-box_text"><span>“</span>Objectively visualize error-free technology for B2B alignment. Monotonectally harness an expanded array of models via effective collaboration in the success. <img src="{% static '' %}assets/img/about/like.svg" alt=""> <span>”</span></p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-box">
                                    <div class="testi-box_wrapper">
                                        <div class="testi-box_profile">
                                            <div class="testi-box_info">
                                                <h3 class="box-title">Alex Jordan</h3>
                                                <span class="testi-box_desig">Project Manager</span>
                                                <div class="testi-box_review">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="testi-box-quote">
                                                <img src="{% static '' %}assets/img/about/testi-quote2.svg" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="testi-box_text"><span>“</span>Completely drive innovative value whereas out-of-the-box paradigms. Interactively pursue stand-alone markets after global say that they results. <img src="{% static '' %}assets/img/about/like.svg" alt=""> <span>”</span></p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-box">
                                    <div class="testi-box_wrapper">
                                        <div class="testi-box_profile">
                                            <div class="testi-box_info">
                                                <h3 class="box-title">Michel Carlos</h3>
                                                <span class="testi-box_desig">Manager</span>
                                                <div class="testi-box_review">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="testi-box-quote">
                                                <img src="{% static '' %}assets/img/icon/testi-quote2.svg" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="testi-box_text"><span>“</span>Lectus volpat faucibus placerat eget nulla sodales aliquam molestie ante, himenaeos fames suscipit arcu cras cenas penatibus vivamus, aenean primis enim <img src="{% static '' %}assets/img/about/like.svg" alt=""> <span>”</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="slider-area">
                        <div class="swiper th-slider testimonial-slider testiSlider2 testi-grid-thumb gallery-thumbs" data-slider-options='{"effect":"slide","slidesPerView":"3","loop":true,"autoplay":false,"slideToClickedSlide":true,"centeredSlides":true}' data-slider-tab="#testiSlider2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testi-img"> <img src="{% static '' %}assets/img/about/testi_2_1.jpg" alt="Image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-img"> <img src="{% static '' %}assets/img/about/testi_2_2.jpg" alt="Image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-img"> <img src="{% static '' %}assets/img/about/testi_2_3.jpg" alt="Image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-img"> <img src="{% static '' %}assets/img/about/testi_2_1.jpg" alt="Image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-img"> <img src="{% static '' %}assets/img/about/testi_2_2.jpg" alt="Image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-img"> <img src="{% static '' %}assets/img/about/testi_2_3.jpg" alt="Image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-img"> <img src="{% static '' %}assets/img/about/testi_2_1.jpg" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button data-slider-prev="#testiSlider2" class="swiper-button-next slider-arrow style3 slider-prev"><i class="far fa-arrow-left"></i></button>
            <button data-slider-next="#testiSlider2" class="swiper-button-prev slider-arrow style3 slider-next"><i class="far fa-arrow-right"></i></button>
        </div>
    </div>
</section>

{% endblock body %}
