{% extends "base.html" %}
{% load static %}

<br>


{% block body %}
<!--============================== Breadcumb ============================== -->
<div class="breadcumb-wrapper " data-bg-src="{% static '' %}assets/img/bg/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Architecture Service</h1>
            <ul class="breadcumb-menu">
                <li><a href="home-company.html">Home</a></li>
                <li>Architecture</li>
            </ul>
        </div>
    </div>
</div>

<!--============================== Architecture Area  ==============================-->
<div class="overflow-hidden overflow-hidden space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="img-box3">
                    <div class="img1">
                        <img src="{% static '' %}assets/img/architecture/01.png" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="title-area mb-20 pe-xl-5 me-xl-5">
                    <span class="sub-title style1">Our Services</span>
                    <h2 class="sec-title mb-20">Architecture Service</h2>
                </div>
                <p class="sec-text mb-30" align="justify">Imaarat also presents itself as one of the top architectural design company that has challenged the standard way of thinking and therefore given new proportions to Residential Architecture Design Services. Our moxie lies in planning both business and private systems and offering exclusive collaboration of fashion and relaxation. Imaarat is also well known for its high-grade adviser services related to 3D View and Vaastu. We come in the top list of engineers in Lucknow. If you are looking for an architect in Lucknow for commercial building purposes then you are at the right place. Imaarat is the best architect company in Lucknow.</p>
            </div>
        </div>
    </div>
</div>
<div class="overflow-hidden overflow-hidden space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="img-box3">
                    <div class="img1">
                        <img src="{% static '' %}assets/img/architecture/02.png" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="title-area mb-20 pe-xl-5 me-xl-5">
                    <span class="sub-title style1">Our Services</span>
                    <h2 class="sec-title mb-20">Residential Design</h2>
                </div>
                <p class="sec-text mb-30" align="justify">Residential architecture, according to the National Association of Home Builders (NAHB), is a process that results in a new home. Many people and families experience confusion about this term because it represents several phases of the home design process, such as designing and building larger properties.</p>
            </div>
        </div>
    </div>
</div>
<div class="overflow-hidden overflow-hidden space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="img-box3">
                    <div class="img1">
                        <img src="{% static '' %}assets/img/architecture/03.jpg" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="title-area mb-20 pe-xl-5 me-xl-5">
                    <span class="sub-title style1">Our Services</span>
                    <h2 class="sec-title mb-20">Commercial Design</h2>
                </div>
                <p class="sec-text mb-30" align="justify">Commercial interior design is an exciting field. If you decide to specialize in commercial interior design, you would be planning and designing business places- offices, small local businesses, restaurants, stores. Commercial interior engineering refers to the development of architectural design principles and standards for areas open to the public. Some commercial spaces include businesses, restaurants, stores, hotels and schools. If you decide to specialize in commercial interior design engineering you will be planning and designing places businesses would occupy such as offices, small local businesses, restaurants, stores, etc.</p>
            </div>
        </div>
    </div>
</div>
<div class="overflow-hidden overflow-hidden space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="img-box3">
                    <div class="img1">
                        <img src="{% static '' %}assets/img/architecture/04.png" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="title-area mb-20 pe-xl-5 me-xl-5">
                    <span class="sub-title style1">Our Services</span>
                    <h2 class="sec-title mb-20">Hospital & School Building Design</h2>
                </div>
                <p class="sec-text mb-30" align="justify">Hospitals are one of the most complex building types. Each hospital is a combination of wide ranging facilities and units including diagnostic and treatment units, hospitality units and bed related units. Key regulations which govern hospital design include fire protection regulations, building codes, seismic and security regulations. Hospital design is made up of mechanical systems such as boilers, ventilation and electrical services. Hospitals also contain sophisticated electronics such as telephones, security equipment like cameras and patient monitoring devices as well as life support technologies such as operating theaters.</p>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
