{% extends "base.html" %}
{% load static %}

<br>


{% block body %}
 <!--============================== Breadcumb ============================== -->
 <div class="breadcumb-wrapper " data-bg-src="{% static '' %}assets/img/bg/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Construction Service</h1>
            <ul class="breadcumb-menu">
                <li><a href="home-company.html">Home</a></li>
                <li>Construction</li>
            </ul>
        </div>
    </div>
</div>

<!--============================== Construction Area  ==============================-->
<div class="overflow-hidden overflow-hidden space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="img-box3">
                    <div class="img1">
                        <img src="{% static '' %}assets/img/construction/05.png" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="title-area mb-20 pe-xl-5 me-xl-5">
                    <span class="sub-title style1">Our Services</span>
                    <h2 class="sec-title mb-20">Construction Company</h2>
                </div>
                <p class="sec-text mb-30" align="justify">Imaarat is one of the largest construction organization of nation and ranked among the contractors. Address different segments. Best firm in Lucknow that has so many properties for sale including plots/land and farm houses in Lucknow by analysing the increasing demand of properties in Lucknow city. With focus on best planning, attention toward architectural comfort with the latest technology. <br><br>
                As we all are continuously seeing the growth in industrialization, Schools and colleges should also be included in the count. There is a lot of need for Educational Construction, India is currently in developing process and the need for Schools and colleges construction is demanded heavily. Schools and colleges are to be designed and developed perfectly and in which Imaarat has mastered it.</p>
            </div>
        </div>
    </div>
</div>
<div class="overflow-hidden overflow-hidden space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="img-box3">
                    <div class="img1">
                        <img src="{% static '' %}assets/img/construction/06.png" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="title-area mb-20 pe-xl-5 me-xl-5">
                    <span class="sub-title style1">Our Services</span>
                    <h2 class="sec-title mb-20">Residential Construction</h2>
                </div>
                <p class="sec-text mb-30" align="justify">A domestic structure is defined because the structure provides a relatively partial bottom area for dwelling purposes. In other words, we define a domestic structure as a structure that gives sleeping accommodation with or without cuisine or dining or both installations. We have a team of professionals who have more than years of experience in commercial and residential construction.</p>
            </div>
        </div>
    </div>
</div>
<div class="overflow-hidden overflow-hidden space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="img-box3">
                    <div class="img1">
                        <img src="{% static '' %}assets/img/construction/07.jpg" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="title-area mb-20 pe-xl-5 me-xl-5">
                    <span class="sub-title style1">Our Services</span>
                    <h2 class="sec-title mb-20">Commercial Construction</h2>
                </div>
                <p class="sec-text mb-30" align="justify">The next time you have a project up to your sleeve and are scratching your head when it comes to whom you should call - consider breaking the problem down into three-time allocation blocks. Time for planning, time for initial work, and time for finishing touches. Let's get started! There are many kinds of construction, such as commercial construction. Commercial construction involves projects like building and renting or selling office spaces, medical centers, and shopping centers in the private sector.</p>
            </div>
        </div>
    </div>
</div>
<div class="overflow-hidden overflow-hidden space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="img-box3">
                    <div class="img1">
                        <img src="{% static '' %}assets/img/construction/08.png" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="title-area mb-20 pe-xl-5 me-xl-5">
                    <span class="sub-title style1">Our Services</span>
                    <h2 class="sec-title mb-20">Hospital & School Building Construction</h2>
                </div>
                <p class="sec-text mb-30" align="justify">Adequate space must be provided with classrooms, special rooms, school halls, staff room, office room, pupils' common room, library and reading room in every secondary school. Classroom should have 600 Sq. ft floor area (30′ x 20′). The height of each room must be more than 15 feet.</p>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
