{% extends "base.html" %}
{% load static %}

<br>


{% block body %}
 <!--============================== Breadcumb ============================== -->
 <div class="breadcumb-wrapper " data-bg-src="{% static '' %}assets/img/bg/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Our Team Members</h1>
            <ul class="breadcumb-menu">
                <li><a href="home-company.html">Home</a></li>
                <li>Team</li>
            </ul>
        </div>
    </div>
</div>

<!--============================== Team Area  ==============================-->
 <section class="space">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title-area text-center pe-xl-5 ps-xl-5">
                    <span class="sub-title">Meet Our Team</span>
                    <h2 class="sec-title">Our Designing Team</h2>
                </div>
            </div>
        </div>
        <div class="row gy-30 gx-30">
            <!-- Single Item -->
            <div class="col-md-6 col-xl-4">
                <div class="th-team team-box style2 th-ani">
                    <div class="team-img">
                        <img src="{% static '' %}assets/img/team/1.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <div class="media-body">
                            <h3 class="box-title"><a href="#">Ar. Murshid Raza</a></h3>
                            <span class="team-desig">Director & Design Head</span>
                        </div>
                        <div class="th-social">
                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-md-6 col-xl-4">
                <div class="th-team team-box style2 th-ani">
                    <div class="team-img">
                        <img src="{% static '' %}assets/img/team/2.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <div class="media-body">
                            <h3 class="box-title"><a href="#">Ar. Faiz Shaikh</a></h3>
                            <span class="team-desig">B.Arch & M.Arch (JMI)</span>
                        </div>
                        <div class="th-social">
                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-md-6 col-xl-4">
                <div class="th-team team-box style2 th-ani">
                    <div class="team-img">
                        <img src="{% static '' %}assets/img/team/3.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <div class="media-body">
                            <h3 class="box-title"><a href="#">Ar. Bushra Ali</a></h3>
                            <span class="team-desig">B.Arch & M.Arch (JMI)</span>
                        </div>
                        <div class="th-social">
                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-md-6 col-xl-4">
                <div class="th-team team-box style2 th-ani">
                    <div class="team-img">
                        <img src="{% static '' %}assets/img/team/4.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <div class="media-body">
                            <h3 class="box-title"><a href="#">Ar. Maryam Akhtar</a></h3>
                            <span class="team-desig">Landscape Architect</span>
                        </div>
                        <div class="th-social">
                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-md-6 col-xl-4">
                <div class="th-team team-box style2 th-ani">
                    <div class="team-img">
                        <img src="{% static '' %}assets/img/team/8.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <div class="media-body">
                            <h3 class="box-title"><a href="#">Ar. Ashraf Shaikh</a></h3>
                            <span class="team-desig">Interior Site Head</span>
                        </div>
                        <div class="th-social">
                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-md-6 col-xl-4">
                <div class="th-team team-box style2 th-ani">
                    <div class="team-img">
                        <img src="{% static '' %}assets/img/team/6.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <div class="media-body">
                            <h3 class="box-title"><a href="#">Mousoof Raza</a></h3>
                            <span class="team-desig">Interior Designer</span>
                        </div>
                        <div class="th-social">
                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="space">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title-area text-center pe-xl-5 ps-xl-5">
                    <span class="sub-title">Meet Our Team</span>
                    <h2 class="sec-title">Engineering & Construction</h2>
                </div>
            </div>
        </div>
        <div class="row gy-30 gx-30">
            <!-- Single Item -->
            <div class="col-md-6 col-xl-4">
                <div class="th-team team-box style2 th-ani">
                    <div class="team-img">
                        <img src="{% static '' %}assets/img/team/7.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <div class="media-body">
                            <h3 class="box-title"><a href="#">Er. Sadique Khan</a></h3>
                            <span class="team-desig">Civil Site Head </span>
                        </div>
                        <div class="th-social">
                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-md-6 col-xl-4">
                <div class="th-team team-box style2 th-ani">
                    <div class="team-img">
                        <img src="{% static '' %}assets/img/team/11.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <div class="media-body">
                            <h3 class="box-title"><a href="#">Er. G. Akhtar</a></h3>
                            <span class="team-desig">Civil Engineer</span>
                        </div>
                        <div class="th-social">
                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-md-6 col-xl-4">
                <div class="th-team team-box style2 th-ani">
                    <div class="team-img">
                        <img src="{% static '' %}assets/img/team/12.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <div class="media-body">
                            <h3 class="box-title"><a href="#">Er. Nadeem Ahmad</a></h3>
                            <span class="team-desig">MEP Head</span>
                        </div>
                        <div class="th-social">
                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-md-6 col-xl-4">
                <div class="th-team team-box style2 th-ani">
                    <div class="team-img">
                        <img src="{% static '' %}assets/img/team/13.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <div class="media-body">
                            <h3 class="box-title"><a href="#">Er. Reshan Ali</a></h3>
                            <span class="team-desig">Structure Engineer</span>
                        </div>
                        <div class="th-social">
                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-md-6 col-xl-4">
                <div class="th-team team-box style2 th-ani">
                    <div class="team-img">
                        <img src="{% static '' %}assets/img/team/14.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <div class="media-body">
                            <h3 class="box-title"><a href="#">Er. Sajid Khan</a></h3>
                            <span class="team-desig">Civil Engineer</span>
                        </div>
                        <div class="th-social">
                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
        </div>
    </div>
</section>
 <section class="space">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title-area text-center pe-xl-5 ps-xl-5">
                    <span class="sub-title">Meet Our Team</span>
                    <h2 class="sec-title">Business Development & Marketing Team</h2>
                </div>
            </div>
        </div>
        <div class="row gy-30 gx-30">
            <!-- Single Item -->
            <div class="col-md-6 col-xl-4">
                <div class="th-team team-box style2 th-ani">
                    <div class="team-img">
                        <img src="{% static '' %}assets/img/team/9.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <div class="media-body">
                            <h3 class="box-title"><a href="#">Adarsh Singh Rathore</a></h3>
                            <span class="team-desig">Business Development</span>
                        </div>
                        <div class="th-social">
                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <div class="col-md-6 col-xl-4">
                <div class="th-team team-box style2 th-ani">
                    <div class="team-img">
                        <img src="{% static '' %}assets/img/team/5.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <div class="media-body">
                            <h3 class="box-title"><a href="#">Farhan Raza</a></h3>
                            <span class="team-desig">IT and Business</span>
                        </div>
                        <div class="th-social">
                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}
