{% extends "base.html" %}
{% load static %}

<br>


{% block body %}

<!--============================== Breadcumb ============================== -->
<div class="breadcumb-wrapper " data-bg-src="{% static '' %}assets/img/bg/breadcumb-bg.jpg">
   <div class="container">
       <div class="breadcumb-content">
           <h1 class="breadcumb-title">Our Project</h1>
           <ul class="breadcumb-menu">
               <li><a href="home-company.html">Home</a></li>
               <li>Project</li>
           </ul>
       </div>
   </div>
</div>

<!--============================== Project Area ==============================-->
<section class="th-blog-wrapper space-top space-extra-bottom">
   <div class="container">
       <div class="row">
           <div class="col-lg-6 col-xl-4">
               <div class="th-blog blog-single blog-grid has-post-thumbnail">
                   <div class="blog-img">
                       <a href="#"><img src="{% static '' %}assets/img/project/1.jpg" alt="Blog Image"></a>
                   </div>
                   <div class="blog-content">
                       <div class="blog-meta">
                           <a class="author" href="blog.html"><i class="fa-solid fa-user"></i>Murshid Raza</a>
                           <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>6 february,
                               2024</a>
                       </div>
                       <h2 class="box-title"><a href="#">HK Palaza Garhwa (JH)</a> </h2>
                       <a href="#" class="line-btn th-icon">Read More<i class="fa-regular fa-arrow-right ms-2"></i></a>
                   </div>
               </div>
           </div>
           <div class="col-lg-6 col-xl-4">
               <div class="th-blog blog-single blog-grid has-post-thumbnail">
                   <div class="blog-img">
                       <a href="#"><img src="{% static '' %}assets/img/project/2.jpg" alt="Blog Image"></a>
                   </div>
                   <div class="blog-content">
                       <div class="blog-meta">
                           <a class="author" href="blog.html"><i class="fa-solid fa-user"></i>Murshid Raza</a>
                           <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>6 february,
                               2024</a>
                       </div>
                       <h2 class="box-title"><a href="#">Hospital</a>
                       </h2>
                       <a href="#" class="line-btn th-icon">Read More<i class="fa-regular fa-arrow-right ms-2"></i></a>
                   </div>
               </div>
           </div>
           <div class="col-lg-6 col-xl-4">
               <div class="th-blog blog-single blog-grid has-post-thumbnail">
                   <div class="blog-img">
                       <a href="#"><img src="{% static '' %}assets/img/project/3.jpg" alt="Blog Image"></a>
                   </div>
                   <div class="blog-content">
                       <div class="blog-meta">
                           <a class="author" href="blog.html"><i class="fa-solid fa-user"></i>Murshid Raza</a>
                           <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>6 february,
                               2024</a>
                       </div>
                       <h2 class="box-title"><a href="#">Hotel & Banquet</a>
                       </h2>
                       <a href="#" class="line-btn th-icon">Read More<i class="fa-regular fa-arrow-right ms-2"></i></a>
                   </div>
               </div>
           </div>
           <div class="col-lg-6 col-xl-4">
               <div class="th-blog blog-single blog-grid has-post-thumbnail">
                   <div class="blog-img">
                       <a href="#"><img src="{% static '' %}assets/img/project/4.jpg" alt="Blog Image"></a>
                   </div>
                   <div class="blog-content">
                       <div class="blog-meta">
                           <a class="author" href="blog.html"><i class="fa-solid fa-user"></i>Murshid Raza</a>
                           <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>6 february,
                               2024</a>
                       </div>
                       <h2 class="box-title"><a href="#">Institutional</a>
                       </h2>
                       <a href="#" class="line-btn th-icon">Read More<i class="fa-regular fa-arrow-right ms-2"></i></a>
                   </div>
               </div>
           </div>
           <div class="col-lg-6 col-xl-4">
               <div class="th-blog blog-single blog-grid has-post-thumbnail">
                   <div class="blog-img">
                       <a href="#"><img src="{% static '' %}assets/img/project/5.jpg" alt="Blog Image"></a>
                   </div>
                   <div class="blog-content">
                       <div class="blog-meta">
                           <a class="author" href="blog.html"><i class="fa-solid fa-user"></i>Murshid Raza</a>
                           <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>6 february,
                               2024</a>
                       </div>
                       <h2 class="box-title"><a href="#">Interior Design</a>
                       </h2>
                       <a href="#" class="line-btn th-icon">Read More<i class="fa-regular fa-arrow-right ms-2"></i></a>
                   </div>
               </div>
           </div>
           <div class="col-lg-6 col-xl-4">
               <div class="th-blog blog-single blog-grid has-post-thumbnail">
                   <div class="blog-img">
                       <a href="#"><img src="{% static '' %}assets/img/project/6.jpg" alt="Blog Image"></a>
                   </div>
                   <div class="blog-content">
                       <div class="blog-meta">
                           <a class="author" href="blog.html"><i class="fa-solid fa-user"></i>Murshid Raza</a>
                           <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>6 february,
                               2024</a>
                       </div>
                       <h2 class="box-title"><a href="#">Landscape</a>
                       </h2>
                       <a href="#" class="line-btn th-icon">Read More<i class="fa-regular fa-arrow-right ms-2"></i></a>
                   </div>
               </div>
           </div>
           <div class="col-lg-6 col-xl-4">
               <div class="th-blog blog-single blog-grid has-post-thumbnail">
                   <div class="blog-img">
                       <a href="#"><img src="{% static '' %}assets/img/project/7.jpg" alt="Blog Image"></a>
                   </div>
                   <div class="blog-content">
                       <div class="blog-meta">
                           <a class="author" href="blog.html"><i class="fa-solid fa-user"></i>Murshid Raza</a>
                           <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>6 february,
                               2024</a>
                       </div>
                       <h2 class="box-title"><a href="#">Residential</a>
                       </h2>
                       <a href="#" class="line-btn th-icon">Read More<i class="fa-regular fa-arrow-right ms-2"></i></a>
                   </div>
               </div>
           </div>
           <div class="col-lg-6 col-xl-4">
               <div class="th-blog blog-single blog-grid has-post-thumbnail">
                   <div class="blog-img">
                       <a href="#"><img src="{% static '' %}assets/img/project/8.jpg" alt="Blog Image"></a>
                   </div>
                   <div class="blog-content">
                       <div class="blog-meta">
                           <a class="author" href="blog.html"><i class="fa-solid fa-user"></i>Murshid Raza</a>
                           <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>6 february,
                               2024</a>
                       </div>
                       <h2 class="box-title"><a href="#">Trunkey</a>
                       </h2>
                       <a href="#" class="line-btn th-icon">Read More<i class="fa-regular fa-arrow-right ms-2"></i></a>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>

{% endblock body %}
