{% extends "base.html" %}
{% load static %}

<br>


{% block body %}

<!--============================== Breadcumb ============================== -->
<div class="breadcumb-wrapper " data-bg-src="{% static '' %}assets/img/bg/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Our Vision Mission</h1>
            <ul class="breadcumb-menu">
                <li><a href="home-company.html">Home</a></li>
                <li>Vision Mission</li>
            </ul>
        </div>
    </div>
</div>

<!--============================== About Area  ==============================-->
<div class="overflow-hidden overflow-hidden space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
            </div>
            <div class="col-xl-6">
                <div class="title-area mb-20 pe-xl-5 me-xl-5">
                    <span class="sub-title style1">Vision</span>
                    <h2 class="sec-title mb-20">Welcome To Imaarat</h2>
                </div>
                <p class="sec-text mb-30" align="justify">Vission We aim to be at the forefront of property marketing, and to provide tailored, innovative solutions that fit our client’s individual property and situations to ensure the best possible outcome is achieved. We are offering host of services at very affordable prices. We have very quickly come up as one of the top real estate companies by offering world-class services at the most reasonable charges.<br><br>We are builders of general architecture & construction projects</p>
            </div>
        </div>
    </div>
</div>

<div class="overflow-hidden overflow-hidden space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="title-area mb-20 pe-xl-5 me-xl-5">
                    <span class="sub-title style1">Mission</span>
                    <h2 class="sec-title mb-20">Welcome To Imaarat</h2>
                </div>
                <p class="sec-text mb-30" align="justify">To transform the property management industry through commitment to positive change and innovation that redefines the quality and consistency of service that client can expect from a property manager.<br><br>We are builders of general architecture & construction projects</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
